@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Graphik';
  src: url('/fonts/GraphikRegular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Graphik';
  src: url('/fonts/GraphikSemiBold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Graphik';
  src: url('/fonts/GraphikMedium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Graphik';
  src: url('/fonts/GraphikBold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

body {
  font-family: 'Graphik', sans-serif;
}